*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transform: 0.2s linear all;
  text-decoration: none;
  
}

*::selection {
  background: rgba(0, 0, 0, 0.582);
  color: #fff;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  html{
    font-size: 55.5%;
  }
}
@media (max-width: 400px) {
  html{
    font-size: 42.5%;
  }
}